$dark-blue: #041b2d;
$white: #ffffff;
$light-beige: #e0b084;
$playfair: "Playfair Display", serif;
$poppins: "Poppins", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $playfair;
}

a {
  text-decoration: none;
}

// .container {
//     height: 100%;
// }

#home {
  height: 100vh;
}

.main-header {
  //   min-width: 717px;
}

.main-header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-blue;
}

.main-header__navigation-left {
  height: 100%;

  .navigation-left__logo {
    height: 12rem;
    max-height: 12rem;
    padding: 2rem;
  }
}

.main-header__navigation-right {
  width: 90%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;

  hr {
    border: 1px solid $light-beige;
  }

  .navigation-right__contact {
    align-self: flex-end;
    margin: 0 1em 1em 0;
    font-size: 1.2em;

    a {
      color: $white;
      padding: 0.5em;
    }

    a:hover {
      color: #e0b084;
      padding-bottom: 0.2em;
      transition-property: color;
      transition: ease-in 0.2s;
    }
  }

  .navigation-right__menu {
    align-self: flex-end;
    margin: 2em 2em 0 0;
    font-size: 1.2em;

    .right-menu__list li {
      display: inline-block;
      padding: 0 1em 0 1rem;
      text-align: center;
      border-right: 2px solid $light-beige;

      a {
        color: $white;
      }

      a:hover {
        color: #e0b084;
        padding-bottom: 0.2em;
        border-bottom: 1px solid #ffffff;
        transition-property: color;
        transition: ease-in 0.2s;
      }
    }

    .right-menu__list li:last-child {
      border: none;
    }
  }
}

@media screen and (max-width: 1000px) {
  .main-header__navigation-right {
    font-size: 12px;
  }
}

// @media screen and (max-width: 425px) {
//   .main-header__navigation-right .navigation-right__menu {
//     display: none;
//   }
// }

.home-section__introduction {
  height: calc(100% - 190px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(4, 27, 45, 0.85), rgba(4, 27, 45, 0.85)),
    url("../img/test1.jpg");
  background-size: cover;
  background-attachment: fixed;

  * {
    padding: 1.2rem;
  }

  h1 {
    font-size: 6rem;
    color: $light-beige;
    text-align: center;
  }

  p {
    font-size: 1.4rem;
    color: white;
    font-family: $poppins;
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .home-section__introduction h1 {
    font-size: 4rem;
  }
  .home-section__introduction p {
    font-size: 1rem;
  }
}

.about-company-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  // align-items: center;
  // justify-content: center;

  .about-company-section__introduction {
    background-color: $dark-blue;
    padding: 2rem;
    // border-bottom: 1px solid $light-beige;

    > * {
      padding: 1rem;
    }

    h2 {
      color: $light-beige;
      font-size: 5rem;
    }

    p {
      color: $white;
      font-size: 1.2rem;
      margin-left: 2rem;
    }
  }

  .about-company-section__showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: $dark-blue;

    h3 {
      font-size: 3rem;
      color: $light-beige;
    }

    hr {
      margin-top: 2rem;
      width: 10%;
    }

    .showcase__slider {
      display: flex;
      align-items: center;
      margin-top: 3rem;
      margin-bottom: 5rem;
    }

    .showcase__slider__content {
      display: flex;
      border: 2px solid $white;

      .showcase__slider__image {
        height: 100%;
        max-width: 50%;
        display: flex;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .showcase__slider__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        position: relative;
        // padding: 0rem 2rem 0 8rem;
        // max-width: 50%;

        > * {
          margin: 0.3rem;
          padding: 0 2rem 0 2rem;
        }

        h4 {
          font-size: 1.8rem;
          color: $light-beige;
          // font-weight: bolder;
        }

        p {
          font-size: 1.2rem;
        }

        a {
          // align-self: flex-end;
          position: absolute;
          bottom: 30px;
          right: 40px;
          text-decoration: none;
          color: $light-beige;
          padding: 0;
          margin: 0;
        }

        a:hover {
          color: $white;
          border-bottom: 1px solid $light-beige;
          padding-bottom: 0.2rem;
          transition-property: color;
          transition: ease-in 0.2s;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .showcase__slider {
    padding: 2rem 5rem;
  }
}

@media screen and (max-width: 1200px) {
  .showcase__slider .showcase__slider__content .showcase__slider__text h4,
  .showcase__slider .showcase__slider__content .showcase__slider__text p {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 1000px) {
  .showcase__slider .showcase__slider__content .showcase__slider__text a {
    bottom: 10px !important;
    right: 10px !important;
  }
}

// @media screen and (max-width: 780) {
//   .about-company-section__showcase
//     .showcase__slider
//     .showcase__slider__content {
//     flex-direction: column !important;
//   }
// }

@media screen and (max-width: 780px) {
  .showcase__slider {
    padding: 0 !important;
  }
}

.offer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(4, 27, 45, 0.85), rgba(4, 27, 45, 0.85)),
    url("../img/test1.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 2rem;
  // height: 100vh;

  .offer-section__introduction {
    margin-top: 2rem;
    width: 80%;
    align-self: center;

    h1 {
      font-size: 5rem;
      color: $light-beige;
    }

    p {
      margin-top: 1.8rem;
      color: $white;
      font-size: 1.3rem;
    }
  }

  .offer-section__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-bottom: 8rem;
    // width: 50%;

    > * {
      padding: 1rem;
    }

    .offer-section__cards-card {
      width: 400px;
      height: 400px;
      display: flex;
      flex: 1 1 25%;
      flex-direction: column;
      // justify-content: center;
      // align-items: center;

      .card-icon {
        background-color: $white;
        height: 50%;

        img {
          height: 100%;
          padding: 2rem;
        }
      }

      .card-description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 50%;
        background-color: $light-beige;

        h3 {
          color: $dark-blue;
          font-size: 1.3rem;
        }

        a {
          text-decoration: none;
          color: $white;
          font-size: 1.1rem;
        }

        a:hover {
          color: $dark-blue;
          padding-bottom: 0.2rem;
          transition-property: color;
          transition: ease-in 0.2s;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .offer-section .offer-section__cards .offer-section__cards-card {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .card-description h3,
  .card-description a {
    font-size: 1rem !important;
  }

  .offer-section .offer-section__introduction p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 750px) {
  .offer-section .offer-section__cards .offer-section__cards-card {
    flex: 1 1 50%;
  }
}

.work-section {
  background-color: $dark-blue;
  height: 100%;
  // height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .work-section__introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    h1 {
      font-size: 4rem;
      color: $light-beige;
      margin-top: 1rem;
      text-align: center;
    }

    p {
      margin-top: 1.8rem;
      font-size: 1.3rem;
      color: $white;
      text-align: center;
    }
  }

  .work-section__contact {
    margin-top: 4rem;

    .contact-form {
      padding: 1rem;
      margin-bottom: 4rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
      row-gap: 1rem;
      column-gap: 1rem;

      label {
        font-weight: bold;
        display: block;
      }

      input {
        display: block;
        width: 100%;
        background-color: #041b2d;
        padding: 1.5rem 4rem;
        border: 2px solid $light-beige;
        color: white;
        font-size: 1rem;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }

      input:focus {
        outline: none;
        border: 3px solid $light-beige;
      }

      input[name="subject"] {
        grid-column: span 2;
      }

      input[name="message"] {
        grid-column: span 2;
        grid-row: span 2;
      }

      input[type="submit"] {
        grid-column: 2 / 3;
      }

      input[type="submit"]:hover {
        background-color: $light-beige;
        color: $dark-blue;
        font-weight: bolder;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .work-section .work-section__introduction h1 {
    font-size: 3rem !important;
  }
  .work-section .work-section__introduction p {
    font-size: 1.1rem !important;
  }
}

@media screen and (max-width: 1600px) {
  .work-section .work-section__contact .contact-form input {
    padding: 1rem 2rem;
  }
}

.main-footer {
  height: 100%;
  font-size: 16px;

  .main-footer__map {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 250px;
    width: 100%;

    iframe {
      height: 250px;
      width: 100%;
    }
  }

  .main-footer__company {
    display: flex;

    .main-footer__company-details {
      width: 50%;
      background-color: $dark-blue;
      padding: 2em;

      h1 {
        font-size: 3em;
        color: $light-beige;
      }

      h2 {
        font-size: 1.8em;
        color: $light-beige;
      }

      p {
        color: $white;
        font-size: 1.2em;
      }

      .details {
        margin: 1rem 0 1rem 0;
        line-height: 1.8em;
        border-top: 1px solid $light-beige;
        border-bottom: 1px solid $light-beige;

        h2 {
          color: $light-beige;
          font-size: 2em;
          margin-top: 1em;
        }

        p {
          margin-bottom: 1rem;
        }
      }
    }

    .main-footer__company-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      background-color: $dark-blue;

      img {
        max-height: 12rem;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .main-footer {
    font-size: 12px !important;
  }
}

/* UTILS */

.btn-primary {
  color: #ffffff;
  background-color: #e0b084;
  border: none;
  outline: none;
  font-size: 1.1rem;
  padding: 0.8rem 1.8rem;
}

.btn-primary:hover {
  color: #e0b084;
  background-color: #ffffff;
  padding: 0.9em 1.9em;
  transition-property: color;
  transition: ease-in 0.2s;
  cursor: pointer;
}

i {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 30px;
}

.right {
  margin-left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  margin-right: auto;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
